<!DOCTYPE html>
<html>
<head>
	<title>First NodeJS Application</title>
	<% include ../partials/header.ejs %>
</head>

<body>
	<div class="container">
		<h1><%=title%></h1>
		<p> Welcome to <%=author%>'s <%=title%> Application</p>
	</div>
</body>
</html>